body{
    font-family: Arial;
    font-size: 13px;
    color: #333;
    background: #e7ecf4;
}

#logo, #search, #cart{
    height: 60px;
}

#header{
    background: #222222;
}

#search input{
    width: 60%;
    height: 30px;
    border-radius: 3px 0 0 3px ;
}

#search button{
    height: 30px;
    background: #eb1f27;
    color: #ffffff;
    border-radius: 0 3px 3px 0 ;
    border: none;
}

#search input, #search button{
    margin-top: 15px;
}

#cart{
    text-align: right;
}

#cart a, #cart span{
    color: #ffffff;
    text-transform: capitalize;
    margin-top: 15px;
}

#cart span{
    width: 30px;
    height: 30px;
    background: #eb1f27;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    border-radius: 100%;
    margin-left: 5px;
}

#body{
    margin-bottom: 30px;
}

#menu ul{
    background: #eb1f27;
    padding-left: 0;
    overflow: hidden;
    margin-bottom: 10px;
}

#menu ul li{
    height: 40px;
    float: left;
    list-style: none;
    line-height: 40px;
    padding: 0 10px;
    border-right: 1px solid #c60a11 ;
}

#menu ul li a{
    color: #fff;
}

.banner{
    margin-bottom: 10px;
}

.products h3{
    margin-top: 20px;
    font-size: 18px;
}

.products h3 a{
    color: #333;
}

.product-list{
    margin-left: -5px !important;
    margin-right: -5px !important;
}

.product-item{
    text-align: center;
    margin-left: 5px !important;
    margin-right: 5px !important;
}

.product-list:last-child .product-item{
    margin-top: 10px;
}

.product-item img{
    width: 125px;
    height: 160px;
    margin: 5px 0;
}

.product-item:hover{
    opacity: 0.5;
}

.product-item h4{
    font-size: 13px;
    font-weight: bold;
}

.product-item h4 a{
    color: #333;
}

.product-item p{
    text-transform: capitalize;
}

.product-item p span{
    font-weight: bold;
    color: #eb1f27;
}

#footer-1{
    background: #ffffff;
}

#logo-footer, #address, #service, #hotline{
    padding-top: 20px;
    padding-bottom: 20px;
}

#logo-footer p{
    text-align: justify;
    padding-top: 5px;
}

#address h3, #service h3, #hotline h3{
    font-size: 18px;
    border-bottom: 1px solid #333;
    padding-bottom: 10px;
}

#footer-2{
    background: #1d1e24;
}

#footer-2 p{
    color: #a1b1bc;
    padding-top: 13px;
    padding-bottom: 13px;
    margin-bottom: 0px;
}

@media (max-width: 992px){
    #sidebar{
        display: none;
    }
}

@media (max-width: 768px){
    #cart{
        text-align: left;
    }
    #slide{
        display: none;
    }
    #menu ul li{
        float: none;
        border: none;
        border-bottom: 1px solid #c60a11 ;
    }
    #header > button{
        background: #fff;
        float: right;
        margin-top: 15px;
        margin-right: 15px;
    }
}

@media (min-width: 768px){
    #menu{
        display: block;
    }
    #header > button{
        display: none;
    }
}